node_modules
.env.local
build
logs
/node_modules
/idea
/idea/*
/build
/build/*
/dist/*
/logs
/logs/*
/node_modules/*
yarn.lock
yarn-error.log
package-lock.json
/app.log
.env.development
/.vscode
tslint.json
idea
.env.local
/.vscode
.env.testing
.env.staging
nodemon.json