<html>

<head>
    <title>Reset Password | Jungle </title>
</head>

<body style="font-family: Arial, sans-serif; position: relative;">
    <table bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" style="position: relative; width:100%;margin-left:auto;margin-right: auto; max-width: 700px; margin-bottom: 40px;border: 1px solid #d5dadf;">
        <tbody>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="">
                                </td>
                                <td style="float: right;">
                                    <img src="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="padding-left: 51px; padding-right: 80px;width: 100%;">
                        <tbody>
                            <tr>
                                <td style="font-size: 30px;">
                                    <strong>Hello&nbsp;<span>{{name}},</span></strong>
                                </td>
                            </tr>
                            <tr>
                                <td height="25"></td>
                            </tr>
                            <tr>
                                <td style="font-size: 21px; line-height: 35px; color: #6f6f6f;">
                                    We’ve recieved a request to reset the password for the Jungle Admin account associated with <span><a style="text-decoration: none; color: #6f6f6f; cursor: text;">{{email}}.</a></span> You can reset your password by
                                    clicking the link below :
                                </td>
                            </tr>
                            <tr>
                                <td height="37"></td>
                            </tr>
                            <tr>
                                <td><a href="{{url}}" style="
                                    padding: 17px 36px 19px 37px;
                                    border-radius: 10px;
                                    background-color: #67d0a1; color: #fff;text-decoration: none;font-size: 34px;display: inline-block;">Reset Password</a></td>
                            </tr>
                            <tr>
                                <td height="46"></td>
                            </tr>
                            <tr>
                                <td style="font-size: 21px; line-height: 35px; color: #6f6f6f;">
                                    If you did not initiate this request , Please contact us at <a href="mailto:support@drdolist.com" style="text-decoration: none; color: #6f6f6f;">support@Jungle.com</a>

                                </td>
                            </tr>
                            <tr>
                                <td height="70"></td>
                            </tr>
                            <tr>
                                <td style="font-size: 21px; line-height: 35px;">
                                    <strong> Thank You,</strong> <br> <strong>Team Jungle NFT</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>




            <tr>
                <td height="105"></td>
            </tr>

            <tr>
                <td>
                    <table width="100% " border="0 " align="center " cellpadding="0 " cellspacing="0" style="position: relative;">
                        <tbody>

                            <tr>
                                <td align="center">
                                    <a href="" style="margin-right: 15px; display: inline-block;"><img src="https://app-development.s3.amazonaws.com/android.png" height="24"></a>
                                    <a href="" style="margin-right: 15px; display: inline-block;"><img src="https://app-development.s3.amazonaws.com/apple.png" height="24"></a>
                                    <a href="" style="margin-right: 15px; display: inline-block;"><img src="https://app-development.s3.amazonaws.com/facebook.png" height="24"></a>
                                    <a href="" style="margin-right: 15px; display: inline-block;"><img src="https://app-development.s3.amazonaws.com/linkedin.png" height="24"></a>
                                    <a href="" style="display: inline-block;"><img src="https://app-development.s3.amazonaws.com/twitter.png" height="24"></a>
                                </td>
                            </tr>
                            <tr>
                                <td height="12"></td>
                            </tr>
                            <tr>
                                <td align="center " style="font-size: 18px;color: #aeaeae;">Copyright {{year}} Jungle | All Rights Reseved</td>
                            </tr>

                            <tr>
                                <td height="19"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="right"><img src="" style="position: absolute; right: 0; bottom: 0;"></td>
            </tr>
    </table>

</body>

</html>